@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2b577a;
}
li,
a,
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
.header-logo {
  cursor: pointer;
  margin-right: auto;
}
.navigation_links {
  list-style: none;
}
.navigation_links li {
  display: inline-block;
  padding: 8px 20px;
}
.navigation_links li a {
  transition: all 0.3s ease 0s;
}
.navigation_links li a:hover {
  color: #0088a9;
}
button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(19, 201, 105, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
